body {
    background: #fdf5ea;
}
.bg {
    background-image: url('../img/shkira-contacto.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
#contenedor {
    display: flex;
    flex-direction: row;
    background: #faebd7;
    margin-top: 150px;
    color: black;
}
#contenedor h2 {
    color: black;
}